{% extends "base.html" %}

{% block content %}

<main role="main" class="container">
        <div class="row">
                <div class="col-md-3 mb-3 mt-1">
                        {% include "includes/card_author.html" %}
                </div>
    
                <div class="col-md-9">
                        {% include "includes/card_post.html" with post_profile=post_profile %}
                        {% include "includes/comments.html" with form=form items=items %}
                </div>
        </div>
</main>
{% endblock %}
